/*body {
  padding-top: 50px;
}*/
.logo {
  padding-top: 15px;
  text-align: center;
  
}

.logo img {
  display: inline-block;
  width: 120px;
}

/* about page */

.about-description {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* weather page layout for mobile */
.forecast {
  font-family: 'Montserrat', sans-serif;
}

.forecast .row {
  font-size: 14px;
  padding: 5px 0;
}
.city {
  font-size: 14px;
  text-align: center;
}

.city-custom {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 48em) {

  .forecast .row {
    padding: 20px 0;
  }

  .city {
    font-size: 20px;
  }

  

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 5px;
}

.footer p {
  text-align: center;
}

